body {
    font-family: Arial, sans-serif;
    background: #fff5f5;
    text-align: center;
    padding: 30px;
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
  }
  
  .login-box input {
    width: 90%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
  }
  
  button {
    padding: 12px 24px;
    font-size: 16px;
    background: #e61919;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: #cc1616;
  }
  
  #mostrarSenha {
    position: relative;
    left: -30px;
    top: -35px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #mensagemErro {
    color: red;
    font-size: 14px;
  }
  